{
  "env": {
    "browser": {
      "presets": [
        "env",
        "react",
        "stage-2"
      ],
      "plugins": [
        "universal-import",
        "transform-decorators-legacy",
        "dev-expression"
      ]
    },
    "node": {
      "presets": [
        "react",
        "stage-2"
      ],
      "plugins": [
        "universal-import",
        "transform-object-rest-spread",
        "transform-decorators-legacy"
      ]
    }
  }
}
